@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap');
.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: auto;  
    margin-left: auto;
    width: 100%;
    /*Have your app has display grid*/
    /* display: grid; */
    /*It would have 3 columns of 10% 80% 10%*/
    /* grid-template-columns: 10% 80% 10%; */
}
.app-title {
    width: 100%;
    /*Have your font weight be 800 and have it be color of gold.*/
    font-weight: 800;
    color: #FFD700;
    opacity: 70%;
    padding-left: 20px;
    font-family: 'Inria Sans', sans-serif;
}
.route-title {
    width: 100%;
    /*Have your font weight be 800 and have it be color of gold.*/
    font-weight: 800;
    color: #ffe866;
    /* opacity: 70%; */
    font-family: 'Inria Sans', sans-serif;
    display: flex;
}
.route-title > img {
    margin-top: 1em;
    max-height: 3em;
    min-width: 3em;
    height: auto;
    width: auto;
    margin-right: 20px;
}
.route-title > h1 {
    margin-top: 1em;
}
.content {
    width: 80%;
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
 
nav {
    position: fixed;
    top: -1em;
    width: 100%;
    margin-left: -0.5%;
    height: 15%;
    background-color: #4d4d4d;
    /* opacity: 70%; */
    margin-bottom: 2%;
    height: 4.5em;
    padding: 10px;
    padding-bottom: 0;
    color: #FFD700;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}
nav > div {
    /* width: 20%; */
    display: flex;
    justify-content: space-between;
    /* margin-right: 2em; */
    /* Used background color to fix defects in styling. */
    /* background-color: red; */
    margin-left: 40%;
}

button {
    background: transparent;
    color: #FFD700;
    opacity: 70%;
    border: none;
    height: 100%;
    padding-bottom: 0.75em;
    font-family: 'Inria Sans', sans-serif;
}
nav > button > * {
    font-size: 2em;
}
nav > div > button {
    margin-right: 5.875em;
    padding-top: 0.5em;
}
nav > div > button:last-child {
    margin-right: 3em;
}
nav > div > button > * {
    font-size: 1.7em;
}
button:hover {
    background-color: #FFD700;
    color: black;
}

nav > button:hover {
    background-color: transparent;
    color: #FFD700;
}