p {
    font-family: 'Inria Sans', sans-serif;
    font-size: 20px;
    width: 20em;
    font-weight: 800;
    color: #FFD700;
    opacity: 70%;
    padding: 1em;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.2);
    background-color: #E2E2DC;
}
