p {
    font-family: 'Inria Sans', sans-serif;
    font-size: 20px;
    width: 30em;
    font-weight: 800;
    color: #FFD700;
    opacity: 70%;
    padding: 1em;
    box-shadow: 4px 4px 10px 5px #FFD700;
    background-color: #E2E2DC;
}
