p {
    font-family: 'Inria Sans', sans-serif;
    font-size: 30px;
    width: 20em;
    font-weight: 800;
    color: #ffe866;
    /* opacity: 70%; */
    padding: 1em;
    box-shadow: 2px 2px 5pt 0 #fff099;
    background-color: #f2f2f2;
}
